body {
	background: #FFFFFF;
	margin: 0px auto;
	overflow: auto;
}
#topo {
	background: #FFF url(../img/img-fundo-topo.jpg) repeat-x;
	width:100%;
	height:130px;
	margin:0px auto;
	text-align:right;
}
#topo-conteudo {
	width:800px;
	height:130px;
	text-align:right;
	margin:0px auto;
}
#topo-conteudo-cliente {
	width:900px;
	height:130px;
	margin:0px auto;
}
#topo-conteudo2 {
	width:800px;
	height:130px;
	margin:0px auto;
}
#menu-principal {
	background: #333333 url(../img/img-fundo-menu-principal.jpg) repeat-x;
	width:100%;
	height:30px;
	margin:0px auto;
	text-align:center;
}
ul#menu-principal-links {
	padding:5px 0px 5px 0px;
	color: #FFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin:0px auto;
}
ul#menu-principal-links li {
	list-style:none;
	display:inline;
}
ul#menu-principal-links span {
	padding:0px 5px 0px 10px;
}
ul#menu-principal-links a {
	text-decoration: none;
	color: #FFF;
}
ul#menu-principal-links a:hover {
	text-decoration: none;
	color:#CCC;
}
#conteudo {
	background-color:#FFFFFF;
	width:1300px;
	margin:0px auto;
	text-align:center;
	padding:5px;
}
#rodape {
	background: #FFFFFF;
	width:800px;
	margin:0px auto;
	text-align:center;
	height:30px;
	line-height:30px;
	clear:both;
}
#log-sistema-fundo {
	position: fixed;			
	left:0;		
	top:0;
	width:100%;
	height:100%;
	margin:0px auto;
	z-index:100;
	display:none;
	background-color:#000;
	filter:alpha(Opacity=90);
	-moz-opacity : 0.9;
	opacity: .9;
}
/* Para o IE */
* html #log-sistema-fundo {
	height:100%;
}
#log-sistema {
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-150px;
	width:600px;
	height:250px;
	z-index:200;
	display:none;
}
#log-sistema-botao {
	width:600px;
	height:50px;
	text-align:right;
	z-index:1001;
}
#log-sistema-conteudo {
	overflow: auto;
	width:590px;
	height:250px;
	padding:5px;
	text-align:center;
	z-index:1001;
}
#quadro {
	background: #FFFFFF;
	width:100%;
	margin:0px auto;
}
#quadro-topo {
	background: url(../img/img-fundo-quadro.gif) repeat-x;
	border:1px solid #CCCCCC;
	text-align:left;
	height:30px;
	line-height:30px;
	padding-left:5px;
}
#quadro-topo strong {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
#quadro-conteudo {
	border:1px solid #CCCCCC;
	text-align:left;
	padding:5px;
}
.texto_padrao {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
.texto_padrao_destaque {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.texto_padrao_vermelho {
	color: #AB1C10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
.texto_padrao_vermelho_destaque {
	color: #AB1C10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.texto_padrao_verde {
	color: #009900;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
.texto_padrao_verde_destaque {
	color: #009900;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.texto_padrao_titulo {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}
.texto_titulo {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:50px;
	font-weight:bold;
}
.texto_titulo2 {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}
.texto_padrao_pequeno {
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.texto_padrao_pequeno_branco {
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.texto_pequeno {
	color: #3389BD;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
}
.texto_status_sucesso {
	color: #009900;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
}
.texto_status_alerta {
	color: #FFCC00;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}
.texto_status_erro {
	color: #AB1C10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
}
.texto_status_sucesso_pequeno {
	color: #009900;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_status_alerta_pequeno {
	color: #FFCC00;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_status_erro_pequeno {
	color: #AB1C10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_status_atualizar {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	text-decoration:none;
}
.texto_log_sistema {
	color: #006600;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_log_sistema_alerta {
	color: #FF9900;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_log_sistema_erro {
	color: #923614;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.texto_ilimitado {
	color: #AB1C10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	border: #AB1C10 1px dashed;
	padding-left:5px;
	padding-right:5px;
}
input {
	background: #FFFFFF;
	border:solid 1px #CCCCCC;
	height:20px;
	padding:2px;
}
select {
	background: #FFFFFF;
	border:solid 1px #CCCCCC;
	height:25px;
	padding:2px;
}
.botao_padrao {
	background: #FFFFFF;
	border:solid 1px #CCCCCC;
	height:27px;
	padding:5px;
	cursor:pointer;
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.botao_padrao_destaque {
	background: #FFFFFF;
	border:solid 1px #990000;
	height:27px;
	padding:5px;
	cursor:pointer;
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.botao {
	background-color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	border: #333333 1px solid;
}
.botao:hover {
	background-color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #CCCCCC;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	border: #333333 1px solid;
	cursor:pointer;
}
.textarea {
	FONT-SIZE: 11px;
	COLOR: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-left:3px;
	padding-right:3px;
	width:200px;
	BACKGROUND-COLOR: #ffffff;
	BORDER-RIGHT: #D1DBE4 1px solid;
	BORDER-TOP: #F0F3F7 1px solid;
	BORDER-LEFT: #F0F3F7 1px solid;
	BORDER-BOTTOM: #D1DBE4 1px solid;
}
/* Barra de uso do espaço */
.meter-wrap{
    position: relative;
	margin-left:5px;
}
.meter-wrap, .meter-value, .meter-text {
    width: 70px; height: 14px;
	float:left;
}
.meter-wrap, .meter-value {
    background: #bdbdbd url(../img/img-fundo-barra-uso-espaco.png) top left no-repeat;
}
.meter-text {
    position: absolute;
    top:0;
    left:0;
    padding-top: 1px;
    color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    text-align: center;
    width: 100%;
}
.share{position: relative; z-index: 1;  overflow: visible; display: inline-block; padding: 0.3em 0.6em 0.375em; border: 1px solid #999;border-bottom-color: #888;   margin: 0; text-decoration: none; text-align: center; font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; white-space: nowrap; cursor: pointer; color: #333; background-color: #eee; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3)); background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3); background-image: -o-linear-gradient(#f5f6f6, #e4e4e3); background-image: linear-gradient(#f5f6f6, #e4e4e3); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;zoom: 1; *display: inline; }
.share:hover, .share:focus, .share:active{ border-color: #777 #777 #666;}
.share:active{border-color: #aaa; background: #ddd; filter: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.share.confirm{ border-color: #29447E #29447E #1A356E; color: #fff; background-color: #5B74A8; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));  background-image: -moz-linear-gradient(#637bad, #5872a7); background-image: -o-linear-gradient(#637bad, #5872a7); background-image: linear-gradient(#637bad, #5872a7); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;}
.share.confirm:active{border-color: #29447E; background: #4F6AA3; filter: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}